<%-include('../partials/head.ejs')%>
</head>
<body>
  <%- include('../partials/addhome.ejs') %>
 <br>
  <main>
    <h1> Registration done successfully!!</h1> 
      <br>
  <a class="goto-link "href="/">Go to home</a>
  </main>
</body>
</html>