<%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/nav.ejs')%> 
  <%- include('../partials/404.ejs')%>

  
  <main>
    <header ><h1>My Bookings are here!!</h1></header>
    <p><a href="/" class="link">Go Home</a></p>
  </main>
</body>
</html>